{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col l12 m12 s12">
      <div class="card grey-1">
        <div class="card-content">
          <span class="card-title"> {{ user.username }} ({{ user_data.username }})</span>
        </div>
        <div class="card-tabs">
          <ul class="tabs tabs-fixed-width">
            <li class="tab"><a href="#bullet"><img class="time-icon" src="{% static 'img/bullet.png' %}"><span
                  class="time-text">Bullet</span></a></li>
            <li class="tab"><a class="active" href="#blitz"><img class="time-icon"
                  src="{% static 'img/blitz.png' %}"><span class="time-text">Blitz</span></a></li>
            <li class="tab"><a href="#rapid"><img class="time-icon" src="{% static 'img/rapid.png' %}"><span
                  class="time-text">Rapid</span></a></li>
            <li class="tab"><a href="#classical"><img class="time-icon" src="{% static 'img/classical.png' %}"><span
                  class="time-text">Classial</span></a></li>
          </ul>
        </div>
        <div class="card-content rating-graphs grey-2">
          <div id="bullet">
            <canvas id="rating-bullet"></canvas>
            <div class="row">
              <div class="col s12 m6 l4">
                <div class="card chart-card grey-1">
                  <div class="card-content">
                    <span class="card-title">Games</span>
                    <canvas id="bullet-games-pie"></canvas>
                  </div>
                </div>
              </div>
              <div class="col s12 m6 l4">
                <div class="card chart-card grey-1">
                  <div class="card-content ">
                    <span class="card-title">Results</span>
                    <canvas id="bullet-results-pie"></canvas>
                  </div>
                </div>
              </div>
              <div class="col s12 m6 l4">
                <div class="card chart-card grey-1">
                  <div class="card-content">
                    <span class="card-title">Elo Rating</span>
                    <strong>Current Rating:</strong> {{ bullet_performance.perf.glicko.rating|floatformat:0 }}<br>
                    <strong>Highest Rating:</strong> {{ bullet_performance.stat.highest.int }}<br>
                    <strong>Lowest Rating:</strong> {{ bullet_performance.stat.lowest.int }}<br><br>
                    {% if bullet_performance.perf.glicko.provisional %}
                    <p>You rating is still provisional. Please play more games to determine relative percentile.</p>
                    {% else %}
                    <p>You are better than {{ bullet_performance.percentile }}% of players.</p>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="blitz">
            <canvas id="rating-blitz"></canvas>
            <div class="row">
              <div class="col s12 m6 l4">
                <div class="card chart-card grey-1">
                  <div class="card-content">
                    <span class="card-title">Games</span>
                    <canvas id="blitz-games-pie"></canvas>
                  </div>
                </div>
              </div>
              <div class="col s12 m6 l4">
                <div class="card chart-card grey-1">
                  <div class="card-content ">
                    <span class="card-title">Results</span>
                    <canvas id="blitz-results-pie"></canvas>
                  </div>
                </div>
              </div>
              <div class="col s12 m6 l4">
                <div class="card chart-card grey-1">
                  <div class="card-content">
                    <span class="card-title">Elo Rating</span>
                    <strong>Current Rating:</strong> {{ blitz_performance.perf.glicko.rating|floatformat:0 }}<br>
                    <strong>Highest Rating:</strong> {{ blitz_performance.stat.highest.int }}<br>
                    <strong>Lowest Rating:</strong> {{ blitz_performance.stat.lowest.int }}<br><br>
                    {% if blitz_performance.perf.glicko.provisional %}
                    <p>You rating is still provisional. Please play more games to determine relative percentile.</p>
                    {% else %}
                    <p>You are better than {{ blitz_performance.percentile }}% of players.</p>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="rapid">
            <canvas id="rating-rapid"></canvas>
            <div class="row">
              <div class="col s12 m6 l4">
                <div class="card chart-card grey-1">
                  <div class="card-content">
                    <span class="card-title">Games</span>
                    <canvas id="rapid-games-pie"></canvas>
                  </div>
                </div>
              </div>
              <div class="col s12 m6 l4">
                <div class="card chart-card grey-1">
                  <div class="card-content ">
                    <span class="card-title">Results</span>
                    <canvas id="rapid-results-pie"></canvas>
                  </div>
                </div>
              </div>
              <div class="col s12 m6 l4">
                <div class="card chart-card grey-1">
                  <div class="card-content">
                    <span class="card-title">Elo Rating</span>
                    <strong>Current Rating:</strong> {{ rapid_performance.perf.glicko.rating|floatformat:0 }}<br>
                    <strong>Highest Rating:</strong> {{ rapid_performance.stat.highest.int }}<br>
                    <strong>Lowest Rating:</strong> {{ rapid_performance.stat.lowest.int }}<br><br>
                    {% if rapid_performance.perf.glicko.provisional %}
                    <p>You rating is still provisional. Please play more games to determine relative percentile.</p>
                    {% else %}
                    <p>You are better than {{ rapid_performance.percentile }}% of players.</p>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="classical">
            <canvas id="rating-classical"></canvas>
            <div class="row">
              <div class="col s12 m6 l4">
                <div class="card chart-card grey-1">
                  <div class="card-content">
                    <span class="card-title">Games</span>
                    <canvas id="classical-games-pie"></canvas>
                  </div>
                </div>
              </div>
              <div class="col s12 m6 l4">
                <div class="card chart-card grey-1">
                  <div class="card-content ">
                    <span class="card-title">Results</span>
                    <canvas id="classical-results-pie"></canvas>
                  </div>
                </div>
              </div>
              <div class="col s12 m6 l4">
                <div class="card chart-card grey-1">
                  <div class="card-content">
                    <span class="card-title">Elo Rating</span>
                    <strong>Current Rating:</strong> {{ classical_performance.perf.glicko.rating|floatformat:0 }}<br>
                    <strong>Highest Rating:</strong> {{ classical_performance.stat.highest.int }}<br>
                    <strong>Lowest Rating:</strong> {{ classical_performance.stat.lowest.int }}<br><br>
                    {% if classical_performance.perf.glicko.provisional %}
                    <p>You rating is still provisional. Please play more games to determine relative percentile.</p>
                    {% else %}
                    <p>You are better than {{ classical_performance.percentile }}% of players.</p>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
{{ block.super }}
<script src="{% static 'js/home.js' %}"></script>
{{ bullet_performance|json_script:"bullet-performance" }}
{{ blitz_performance|json_script:"blitz-performance" }}
{{ rapid_performance|json_script:"rapid-performance" }}
{{ classical_performance|json_script:"classical-performance" }}
<script>
  $(document).ready(function () {
    populate_rating_history({{rating_history|safe}});
    populate_bullet_performance(JSON.parse($('#bullet-performance').text()));
    populate_blitz_performance(JSON.parse($('#blitz-performance').text()));
    populate_rapid_performance(JSON.parse($('#rapid-performance').text()));
    populate_classical_performance(JSON.parse($('#classical-performance').text()));
  });
</script>
{% endblock %}