{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/openings.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    {% for row in opening_alternatives %}
    <div class="row">
        <div class="card grey-1">
            <div class="card-content card-main">
                <div class="card-title">
                    {{ row.title }}
                </div>
                <div class="row">
                    <div class="col l6 m6 s12">
                        <div class="card grey-2">
                            <div class="card-content card-board">
                                <div class="chessboard" id="board_{{ row.id }}_0"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col l6 m6 s12">
                        <div class="card grey-2">
                            <div class="card-content">
                                <span class="card-title">Opening Mistake</span>
                                In a recent game in this position, the move <strong class="red-text text-lighten-3">{{ row.move_uci }}</strong> has resulted in a negative swing of <strong class="red-text text-lighten-3">{{ row.score_loss }}</strong> centipawns.<br><br>
                                <strong>Preceeding Line:</strong> {{ row.preceeding_line|safe }}<br>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col l6 m6 s12">
                        <div class="card grey-2">
                            <div class="card-content card-board">
                                <div class="chessboard" id="board_{{ row.id }}_1"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col l6 m6 s12">
                        <div class="card grey-2">
                            <div class="card-content">
                                <span class="card-title">Alternative Suggestion</span>
                                <strong>Current Rating:</strong> {{ blitz_performance.perf.glicko.rating|floatformat:0 }}<br>
                                <strong>Highest Rating:</strong> {{ blitz_performance.stat.highest.int }}<br>
                                <strong>Lowest Rating:</strong> {{ blitz_performance.stat.lowest.int }}<br><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block javascript %}
{{ block.super }}
<script src="{% static 'js/openings.js' %}"></script>
<script>
    {% for row in opening_alternatives %}
    loadBoard("{{ row.id|safe }}", "{{ row.blunder_fen|safe }}", "{{ row.before_fen|safe }}", "{{ row.orientation|safe }}", "{{ row.move_uci|safe }}", "{{ row.alternative_uci|safe }}") 
    {%endfor %}
</script>
{% endblock %}