.highlight-red {
    box-shadow: inset 0 0 3px 3px red;
}

.highlight-green {
    box-shadow: inset 0 0 3px 3px rgb(5, 192, 5);
}

.highlight-blue {
    box-shadow: inset 0 0 3px 3px blue;
}

.highlight-yellow {
    box-shadow: inset 0 0 3px 3px yellow;
}

.chessboard {
    width: 100%;
    margin: auto;
}

.card .card-board {
    padding: 8px;
}

@media only screen and (max-width: 600px) {
    .card .card-main {
        padding: 12px;
    }
}