[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fishcan = {editable = true, path = "."}
flask = "*"
gunicorn = "*"
chess = "*"
pg8000 = "*"
google-cloud-bigquery = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
yapf = "*"
docformatter = "*"
pdoc3 = "*"
pytest-pylint = "*"

[requires]
python_version = "3.8"
